<div class="container">
  <%= link_to 'Add to favorites', topic_favorite_topics_path(@topic.id), method: :post %>

  <h1><%= @topic.title %></h1>
    <% @tweets_data.each do |tweet| %>

      <div class="cards">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">@<%= tweet['user']['username']%> </h5>
            <h6><%= number_to_human(tweet['user']['public_metrics']['followers_count'], units: { thousand: 'K', million: 'M' }) %> Followers </h6>
            <p class="card-text"><%= tweet['text'] %></p>
            <ul class="d-flex justify-content-around p-0">
              <li class="list-unstyled">
                <%= link_to "https://twitter.com/#{tweet['user']['username']}/status/#{tweet['id']}", target: '_blank' do %>
                  <i class="fab fa-twitter"></i>
                <% end %>
              </li>
              <li class="list-unstyled">
                <%= link_to root_path do %>
                  <i class="far fa-bookmark"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
</div>
