<div class="topic-cards w-100"
    data-action="click->off-canvas#display"
    data-title=<%= favorite_topic.topic.title %>
    data-cashtag=<%= favorite_topic.topic.cashtag %>
    data-coingecko-id=<%= favorite_topic.topic.coingecko_id %>
    data-topic-id=<%= favorite_topic.topic.id %> >
  <div>
    <div class="d-flex topic-card-info">
      <%= image_tag(favorite_topic.topic.icon_url, class: 'crypto-icon') %>
      <h2 class="crypto-title"><%= favorite_topic.topic.title.capitalize %></h2>
      <% if favorite_topic.topic.cashtag %>
        <h2 class="cashtag"><%= favorite_topic.topic.cashtag %></h2>
      <% end %>
    </div>
    <div>
      <% if favorite_topic.topic.coingecko_id %>
        <div class="topic-card-price d-flex align-items-center">
          <p class="price mr-3 topic-title-price" data-coingecko-id="<%= favorite_topic.topic.coingecko_id %>"></p>
          <p class=""></p>
        </div>
      <% end %>
    </div>
  </div>
  <p class="crypto-press"><i class="fas fa-caret-right"></i></p>
</div>
