<div class="topic-cards w-100"
    data-action="click->off-canvas#display"
    data-title=<%= favorite_topic.topic.title %>
    data-cashtag=<%= favorite_topic.topic.cashtag %>
    data-coingecko-id=<%= favorite_topic.topic.coingecko_id %>
    data-topic-id=<%= favorite_topic.topic.id %> >

  <%= image_tag(favorite_topic.topic.icon_url, class: 'crypto-icon') %>
  <div style="width: 75%;">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex topic-card-info">
        <h2 class="crypto-title mb-0"><%= favorite_topic.topic.title.capitalize %></h2>
        <% if favorite_topic.topic.cashtag %>
          <h2 class="cashtag mb-0"><%= favorite_topic.topic.cashtag %></h2>
        <% end %>
      </div>
      <% opacity = bookmarks_count.positive? ? 1 : 0 %>
      <div class="d-flex align-items-center justify-content-center text-yellow position-absolute"
          style="font-size:13px; top: -2px; right: 20vw; opacity:<%= opacity %>">
        <h2 class="position-absolute text-dark" id="bookmark-tag-<%= favorite_topic.topic.id %>"  style="font-size:16px;"><%= bookmarks_count %></h2>
        <i class="fas fa-bookmark" style="font-size: 38px;"></i>
      </div>
    </div>

    <% if favorite_topic.topic.coingecko_id %>

        <div class="topic-card-price d-flex flex-column align-items-start">
          <p class="price mr-2 topic-" data-coingecko-id="<%= favorite_topic.topic.coingecko_id %>"></p>
          <p class="" style="font-size: 18px;"></p>
        </div>

    <% end %>
  </div>
  <p class="crypto-press"><i class="fas fa-caret-right"></i></p>
</div>
