<div class="card w-100 shadow-sm margin-bottom-30" data-tweet-id="<%= tweet['id'] %>">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="card-title pr-2">@<%= tweet['user']['username'] %> </h5>
      <small class="followers"><%= number_to_human(tweet['user']['public_metrics']['followers_count'], units: { thousand: 'K', million: 'M' }) %> Followers </small>
    </div>
    <p class="card-text margin-top-40 tweet-card"><%= tweet['text'] %></p>
  </div>

  <div class="d-flex form">

    <%# <%= link_to  topic_bookmarked_articles_path(topic: topic, tweet: {
          username: tweet['user']['username'],
          text: tweet['text'],
          followers: tweet['user']['public_metrics']['followers_count'],
          tweet_id: tweet['id']
          }),
        method: :post,
        class: 'btn bookmark-button not-rounded' do
    %>

    <%= simple_form_for [topic, BookmarkedArticle.new], remote: true do |f| %>
      <%= f.input :username, as: :hidden, input_html: { value: tweet['user']['username']} %>
      <%= f.input :text, as: :hidden, input_html: { value: tweet['text']} %>
      <%= f.input :followers, as: :hidden, input_html: { value: tweet['user']['public_metrics']['followers_count']} %>
      <%= f.input :tweet_id, as: :hidden, input_html: { value: tweet['id']} %>

      <%= button_tag type: 'submit', class: 'bookmark-button d-flex justify-content-center align-items-center' do %>
        <i class="far fa-bookmark mr-1"></i>
        <p class="mb-0">Bookmark</p>
      <% end %>
    <% end %>

    <%= link_to tweet['tweet_url'], target: '_blank', class: 'tweet-button tweet-button-position' do %>
      <i class="fab fa-twitter"></i>
      <p>Go to tweet</p>
    <% end %>

  </div>
</div>
