<div class="card w-100 shadow-sm margin-bottom-30">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="card-title pr-2">@<%= tweet['user']['username'] %> </h5>
      <small class="followers"><%= number_to_human(tweet['user']['public_metrics']['followers_count'], units: { thousand: 'K', million: 'M' }) %> Followers </small>
    </div>
    <p class="card-text margin-top-40 tweet-card"><%= tweet['text'] %></p>
  </div>

  <div class="d-flex">

    <%= link_to bookmarked_articles_path(tweet: {
          username: tweet['user']['username'],
          text: tweet['text'],
          followers: tweet['user']['public_metrics']['followers_count'],
          tweet_id: tweet['id']
          }),
        method: :post,
        class: 'btn bookmark-button not-rounded' do
    %>
      <i class="far fa-bookmark"></i>
      <p>Bookmark tweet</p>
    <% end %>

    <%= link_to tweet['tweet_url'], target: '_blank', class: 'btn search-button button-border not-rounded flex-grow-1 white-text' do %>
      <i class="fab fa-twitter"></i>
      <p>Go to tweet</p>
    <% end %>

  </div>
</div>
