<div class="px-4 py-5" style="background: #324574;">
  <div class="container">
    <h1 class="home-h1 mb-4 roboto">All your crypto news, in one place</h1>
    <%= render 'shared/select_topic_form' %>
  </div>
</div>

<div class="container mt-5">
  <div class="text-center">
    <h5 class="m-4">Keep up to date with crypto news from the best sources</h5>
    <%= image_tag 'home-tweet', class: 'home-image-tweet' %>
  </div>
</div>

<div class="p-4 text-center mt-5  " style="background: #324574;">
  <div class="container">
    <h5>See the latest trends!</h5>
    <%= image_tag 'homepage-btc', class: 'chart-image' %>
    <h5>Live traking for all your favorite coins</h5>
    <%= image_tag 'homepage-eth' %>

  </div>
</div>






<%# <div class="container">


  <div class="cards">
    <%= render 'shared/article_card' %>
  <%# </div> %>

<%# </div> %>
