<div class="margin-top-50 main">
  <%= image_tag 'main.svg' %>
  <div class="container">
    <h1 class="margin-top-50 main-h1">Find all of your crypto news in one place</h1>
    <p class="main-p"><span>CryptoCanons</span> curates the best content on the internet that helps you make sense of crypto related news. <br>You are closer than ever to making the best investment decisioin of your life.</p>
    <div class="margin-top-30">
      <%= render 'shared/select_topic_form' %>
    </div>
  </div>
</div>

<div class="container margin-top-120 secondary">
  <h1>Discover the latest crypto news right from your phone</h1>
  <p>The most up-to-date news directly from Twitter including the current price and charts</p>
  <%= image_tag 'phone-good.png', class: 'center-image margin-top-50', data: { aos: "zoom-in" } %>
</div>

<div class="container margin-top-120 body">
  <div class="info-box" data-aos="fade-right">
    <%= image_tag 'home-body-1.svg', class: 'center-image margin-top-40' %>
    <h2 class="margin-top-40">Discover latest topics from the best</h2>
    <p class="">Receive tweets from the most knowledgable people in crypto</p>
    <p class="tag">Discover</p>
  </div>
</div>

<div class="container margin-top-50 body">
  <div class="info-box" data-aos="fade-right">
    <%= image_tag 'home-body-2.svg', class: 'center-image margin-top-40' %>
    <h2 class="margin-top-40">Major coins and tokens represented</h2>
    <p class="">Find the best information even for the most obscure coins.</p>
    <p class="tag">Learn</p>
  </div>
</div>

<div class="container margin-top-50 body">
  <div class="info-box" data-aos="fade-right">
    <%= image_tag 'home-body-3.svg', class: 'center-image margin-top-40' %>
    <h2 class=" margin-top-40">Save your favorite topics and view them anytime</h2>
    <p class="">View all of your saved topics on a single beautifull display</p>
    <p class="tag">Save</p>
  </div>
</div>

<div class="margin-top-120 quick-stats text-center">
  <p class="text-left">Explore</p>
  <h2 class="margin-top-50" data-aos="fade-right">200+ coins</h2>
  <h2 class="margin-top-30" data-aos="fade-right">Prices and trends</h2>
  <h2 class="margin-top-30" data-aos="fade-right">Freshest tweets</h2>
</div>

<div class="container margin-top-120 cta">
  <h2 class="center-image text-center">Get started in a few minutes</h2>
  <p class="margin-top-50"><i class="fas fa-check"></i> 100% Satisfaction Guaranteed</p>
  <p class="margin-top-30"><i class="fas fa-check"></i> 24/7 Support</p>
  <p class="margin-top-30"><i class="fas fa-check"></i> 4+ Satisfied Customers</p>
  <%= link_to 'Sign Up Now', new_user_registration_path, class: 'btn search-button margin-top-50'  %>
</div>

<%= render 'shared/footer_home' %>
