<div class="px-4 py-5" style="background: #324574;">
  <div class="container">
    <h1 class="home-h1 mb-4 roboto">All your crypto news, in one place</h1>
    <%= render 'shared/select_topic_form' %>
  </div>
</div>

<div class="container mt-5">
  <div class="text-center">
    <h5 class="m-4">Keep up to date with crypto news from the best sources</h5>
    <%= image_tag 'home-tweet', class: 'home-image-tweet' %>
  </div>
</div>

<div class="text-center mt-5 py-5" style="background: #324574;">
  <div class="container">
    <h5 class="white-text">See the latest trends!</h5>
    <h5 class="white-text mt-3">Live traking for all your favorite coins</h5>
    <%= image_tag 'homepage-btc(1)', class: 'chart-image' %>
    <%= image_tag 'homepage-eth(1)'%>
  </div>
</div>

<div class="container my-5">
  <div class="title-review" style="width: 300px;">
    <h5>The best place to get everything crypto.</h5>
    <h5>Don't believe us? Just take a look at what some of our satisfied customers have to say:</h5>
  </div>
  <div class="review-card m-4">
    <div class="d-flex align-items-center">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: 'avatar' %>
      <p class="m-0 ml-2">Sébastien Saunier</p>
    </div>
    <p class="my-4 text-left">The best crypto related product I have ever used. I used to know nothing about this space but after spending a few months on CryptoCanons I now like to consider myself an expert. Definitely recommend!</p>
    <div class="text-left" style="color: #f9f871;">
    <% 5.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    </div>
  </div>
</div>

<div class="container p-4" style="background: #324574;">
  <h5 class="white-text text-center">What you can expect:</h5>
  <% @tweets_data.each do |tweet| %>
    <div class="my-3">
      <%= render 'shared/tweet_card', username: tweet['user']['username'],
                                      text: tweet['text'],
                                      tweet_id: tweet['id'],
                                      followers: tweet['user']['public_metrics']['followers_count'],
                                      tweet_url: tweet['tweet_url'],
                                      image_url: nil,
                                      article_url: nil %>
    </div>
  <% end %>
</div>

<div class="container mt-5">
  <h3>So what are you waiting for? Join now and experience the best crypto news on the internet</h3>
  <div class="text-center my-5">
    <a class="yellow-button">Join Now!</a>

  </div>
</div>
